{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
        }
        div {
            text-align: left;
        }
    </style>
</head>
<body>
{{template "input" .}}
{{template "list" .}}
</body>
</html>
{{end}}
